{% extends 'layout.html' %} {% block content %} {% for pitch in pitches.items %}
<div class="card" style="width: 70%;text-align: center;padding: 30px;background-color: lawngreen;">
    <a href="{{ url_for( 'users.user_pitches', username=pitch.author.username) }} "><img style="border-radius: 50%;" src="{{ url_for( 'static', filename='profile_pics/' + pitch.author.image_file) }} "></a>
    <h2><a href="{{ url_for( 'pitchess.pitch', pitch_id=pitch.id) }} ">{{ pitch.category }}</a></h2>
    <p>{{ pitch.content }}</p>
    <a href="# "><button class="btn btn-info">upvote</button></a><br>
    <a href="# "><button class="btn btn-danger">downvote</button></a><br><br>
    <h6 style="font-style: italic;">Pitch uploaded by; {{ pitch.author.username }}</h5>
</div>
{% endfor %} {% for page_num in pitches.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %} {% if page_num %} {% if pitches.page == page_num %}